<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Welcome to MindShopper!</h1>
        <p class="lead">One online shop to rule them all!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="card" *ngSwitchCase="true">
                <div class="alert">
                    <span id="home-logged-message" *ngIf="account"> Hello, <strong>{{account.firstName}} {{account.lastName}}!</strong>
                    </span>
                </div>
            </div>

            <div class="card" *ngSwitchCase="false">
                <div class="alert">
                    <span>Please </span><a class="alert-link" (click)="login()">sign in</a> or <a class="alert-link"
                    (click)="register()">register.</a>
                </div>
            </div>
        </div>

    </div>
</div>